<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Playlist</title>
    <style>
      body {
         background-color: #D8BFD8;
          
      }
      h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align:center;
        color: #3c4d67;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        font-weight: 300;
        font-weight: 400;
      }

      h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 5%;
        text-align:center;
        color: purple;
      }

      ul{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       text-align: center;
       font-size: larger;
      }

      .box{
        padding: 2%;
        background-color: #F5F0F6;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 25px;
      }

  </style>
</head>
<body>
  <div class ="box">
    <h1>Welcome to Making a playlist</h1>
  <h2>Select Songs</h2>

  <ul>
    <li>To make your playlist click on <a href="/chooseSongs">Choose Songs</a></li>
    <li>To view a playlist click on <a href="/viewPlaylist">View Playlist</a></li>
    
  </ul>

</div>
    
</body>
</html>